.footer {
    background-color: #f8f8f8;
    padding: 20px;
}

.footer__chocolate-section {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.footer__image {
    width: 100%;
    height: auto;
    display: block;
}

.footer__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.footer__title,
.footer__description,
.footer__subscribe-section {
    margin: 10px 0;
}

.footer__title {
    font-size: 1.5em;
}

.footer__description {
    font-size: 1em;
}

.footer__subscribe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__subscribe-content {
    width: 100%;
}

.footer__subtitle {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer__form {
    display: flex;
    flex-direction: column;
}

.footer__form-group {
    display: flex;
    align-items: baseline;
}

.subscribe-form__btn {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.footer__additional-info {
    margin-top: 20px;
    text-align: center;
}

.footer__contact {
    margin-bottom: 20px;
}

.address-container a {
    display: block;
    color: #333;
    margin: 5px 0;
    text-decoration: none;
}

.footer__social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.footer__icon-link {
    text-decoration: none;
}

.footer__icon-background {
    background-color: #ddd;
    padding: 10px;
    border-radius: 50%;
}

.footer__icon {
    width: 24px;
    height: 24px;
}

.footer__links-section {
    text-align: center;
    margin-top: 20px;
}

.footer__links {
    list-style: none;
    padding: 0;
}

.footer__link-item {
    display: inline;
    margin: 0 10px;
    font-size: 1em;
}