:root{
  --color-white:rgba(255, 255, 255, 1);
  --color-black:rgba(30, 24, 35, 1);
  --color-orange:orange;
  --color-gris:rgba(255, 255, 255, 0.7);
}

/* benefits section */

.benefits_section{
  background-color:var(--color-black);
  display: flex;
  flex-wrap: wrap;
  margin-top: 670px;
  width: 375px;
  padding: 20px;
}

.benefits_section ul{
  list-style: none;
}

.benefits_group h2{
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  padding-top: 22px;
  padding-bottom: 18px;
  font-family: 'Montserrat';
  color: var(--color-white);
}
.benefits_group p{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--color-gris);
}

.benefits_group {
  margin-bottom: 20px;
}

.benefits_svg{
  width: 62px;
  height: 62px;
  border: 1px solid var(--color-gris);
  border-radius: 50%;
}

.benefits_group svg {
  padding: 15px;
}

.benefits_list {
  max-width: 336px;
  padding-right: 28px;
}

.list1 {
  height: 226px;
}

.list2 {
  height: 243px;
}

.list3 {
  height: 209px;
}

/* item section */
.item_section{
  margin: 72px 20px;
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  height: 1376px;
}
.item_section h2{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  color:var(--color-black);
  margin-bottom: 24px;

}
.item_section span{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--color-orange);

}
.item_section_text{
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-black);
}
.item_list{
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-milky {
  padding-bottom: 70px;
}

.item:hover .item_list_hidden{
  transform: translateY(0);
  height: 100%;
}
.item_list_hidden{
  display: none ;
  margin: 28px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background: var(--color-white);
  transition: transform 2s; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
  margin-top: -1px;
  margin-left: -1px;
}
.item_list_hidden h3{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-align: left;
}
.item_list_hidden p{
  font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;
color: var(--color-black);
}

.item{
  max-width: 335px;
  min-width: 280px;
  width: 100%;
  height: 270px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.item img {
  max-width: 335px;
  height: 270px;
}

.buttton-benefits-section{
  padding: 6px 16px;
  margin: 8px 2px 14px;
  width: 91px;
  font-size: 10px;
  border-radius: 50px;
  border: 1px solid var(--color-orange);
}

.button-nuts {
  background-color: orange;
  color: white;
}

.buttton-benefits {
  background-color: transparent;
  color: var(--color-black);
}

/* mediaquerries */

@media screen and (min-width: 768px){
  .benefits_section ul {
    flex-direction: row;
    justify-content: center;
  }

  .benefits_item {
    width: 300px;
    padding: 20px;
  }
.item_list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.item_section h2{
  padding: 100px 200px 28px 200px;
}
.item_section_text{
  padding: 28px 109px;
}
  }


  @media screen and (min-width:1024px){
    .benefits_list{
      display: flex;
    }

  }