* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

/* Footer styles for mobile */
.footer {
    width: 100%;
    background-color: #1E1823;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

.footer__chocolate-section {
    position: relative;
    overflow: hidden;
}

.footer img {
    width: 100%;
    height: auto;}
    
.footer__image {
    width: 100%;
    height: auto;
}

.footer__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer__title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 24px;
    padding-top: 62px;
    width: 291px;
}

.footer__description {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.subscribe-form__btn {
    width: 128px;
    height: 41px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 20px;
}

.footer__additional-info {
    padding: 20px;
    text-align: left;
}

.footer__subtitle {
    font-size: 24px;
    margin-bottom: 32px;
    width: 300px;
}

.highlight {
    color: #FD9222;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer__contact-info {
    margin-bottom: 10px;
}

.address-container a {
    color: white;
    text-decoration: none;
    display: block;
}

.footer__social-media {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.footer__icon-background {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #1E1823;
    border-radius: 50%;
}

.footer__icon {
    width: 24px;
    height: 24px;
}

.footer-divider {
    border: none;
    border-top: 1px solid white;
    margin-bottom: 20px;
}

.footer__links-section {
    display: flex;
    text-align: left;
}

.footer__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
}

.footer__link-item {
    cursor: pointer;
    padding: 5px;
}

/* Footer section for tablet */
@media screen and (min-width: 768px) {
    .footer {
        max-width: 768px;
    }

    .footer img {
        max-width: 768px;
        height: 370px;
    }
    .footer__chocolate-section {
        display: flex;
    }

    .footer__overlay {
        flex: 1;
    }

    .footer__title {
        font-size: 24px;
    }

    .footer__description {
        font-size: 16px;
    }

    .footer__additional-info {
        flex: 1;
        padding-left: 40px;
    }

    .footer__contact {
        align-items: flex-start;
    }

    .footer__links {
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
    }
}

/* Footer section for desktop */
@media screen and (min-width: 1200px) {
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 72px 367px;
    }

    .footer__chocolate-section {
        width: 60%;
    }

    .footer__additional-info {
        width: 35%;
    }

    .footer__title {
        font-size: 28px;
        margin: 25px;
    }

    .footer__description {
        font-size: 18px;
    }

    .footer__contact {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__social-media {
        justify-content: flex-start;
    }

    .footer__links-section {
        justify-content: flex-start;
    }

    .footer__links {
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
}