<footer class="footer" id="scroll">
    <div class="footer__chocolate-section">
      <img
        src="./images/footer.img/chocolate-1.jpg"
        alt="Chocolate"
        class="footer__image"
       />
      <div class="footer__overlay">
        <h4 class="footer__title">EXPLORE OUR NEW CHOCOLATE FIRST</h4>
        <p class="footer__description">
          From the velvety texture to the rich and complex flavor, our New
          Chocolate is a true indulgence that will leave you craving more. Made
          with only the finest ingredients and handcrafted with the utmost care,
          each piece is a work of art that is sure to please.
        </p>
        <section class="footer__subscribe-section">
          <div class="footer__subscribe-content">
            <form name="subscribe_form" class="footer__form">
              <div class="footer__form-group">
                <button type="submit" class="subscribe-form__btn">
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
    <section class="footer__additional-info">
      <div class="footer__contact">
        <div class="footer__contact-info">
          <h4 class="footer__subtitle">
            <span class="highlight">Chocolate</span> a delicious cure for a bad
            day
          </h4>
          <p>Contact us</p>
          <address class="address-container">
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a><br />
          </address>
        </div>
        <div class="footer__social-media">
          <a
            href="https://www.instagram.com/goit.romania/"
            class="footer__icon-link"
            target="_blank"
          >
            <div class="footer__icon-background">
              <svg class="footer__icon">
                <use
                  href="./images/footer.img/footer.svg#instagram"
                ></use>
              </svg>
            </div>
          </a>
          <a
            href="https://twitter.com/goITclub"
            class="footer__icon-link"
            target="_blank"
          >
            <div class="footer__icon-background">
              <svg class="footer__icon">
                <use
                  href="./images/footer.img/footer.svg#twitter"
                ></use>
              </svg>
            </div>
          </a>
        </div>
      </div>
      <hr class="footer-divider" />
      <div class="footer__links-section">
        <ul class="footer__links" >
          <li class="footer__link-item">Home</li>
          <li class="footer__link-item">How it’s made?</li>
          <li class="footer__link-item">Our products</li>
          <li class="footer__link-item">Top sellers</li>
          <li class="footer__link-item">Chocolate is loved</li>
        </ul>
      </div>
    </section>
  </footer>