<link rel="stylesheet" href="./partials/style.css">
<!-- our-products-->
<section class="section">
    <div>
        <h2 class="our__products__title">OUR <span class="products__item">PRODUCTS</span></h2>
        <div class="our__products">
            <ul class="our__products__item">
                <li class="carousel-slide">
                    <img srcset="./images/image7.jpg 1x, ./images/image7@2x.jpg 2x" src="./images/image7.jpg" alt="chocolate1"/>
                    <p class="container__title">ORANGE</p>
                    <p class="container__subtitle">Dark chocolate</p>
                    <button type="button" class="button"><b>45UAH</b></button>
                </li>
                <li class="carousel-slide">
                    <img srcset="./images/image8.jpg 1x, ./images/image8@2x.jpg 2x" src="./images/image8.jpg" alt="chocolate2"/>
                    <p class="container__title">APPLE&CRANBERRY</p>
                    <p class="container__subtitle">Milk chocolate</p>
                    <button type="button" class="button"><b>50UAH</b></button>
                </li>
                <li class="carousel-slide">
                    <img srcset="./images/image9.jpg 1x, ./images/image9@2x.jpg 2x" src="./images/image9.jpg" alt="chocolate3"/>
                    <p class="container__title">LIME&SEA SALT</p>
                    <p class="container__subtitle">Dark chocolate</p>
                    <button type="button" class="button"><b>66UAH</b></button>
                </li>
                <li class="carousel-slide">
                    <img srcset="./images/image10.jpg 1x, ./images/image10@2x.jpg 2x" src="./images/image10.jpg" alt="chocolate4"/>
                    <p class="container__title">PINEAPPLE</p>
                    <p class="container__subtitle">Dark chocolate</p>
                    <button type="button" class="button"><b>54UAH</b></button>
                </li>
                <li class="carousel-slide">
                    <img srcset="./images/image11.jpg 1x, ./images/image11@2x.jpg 2x" src="./images/image11.jpg" alt="chocolate5"/>
                    <p class="container__title">CLASSIC</p>
                    <p class="container__subtitle">Milk chocolate</p>
                    <button type="button" class="button"><b>50UAH</b></button>
                </li>
                <li class="carousel-slide">
                    <img srcset="./images/image12.jpg 1x, ./images/image12@2x.jpg 2x" src="./images/image12.jpg" alt="chocolate6"/>
                    <p class="container__title">HONEY</p>
                    <p class="container__subtitle">Milk chocolate</p>
                    <button type="button" class="button"><b>66UAH</b></button>
                </li>
                <li class="carousel-slide">
                    <img srcset="./images/image13.jpg 1x, ./images/image13@2x.jpg 2x" src="./images/image13.jpg" alt="chocolate7"/>
                    <p class="container__title">ROASTED FRUITS</p>
                    <p class="container__subtitle">Dark chocolate</p>
                    <button type="button" class="button"><b>54UAH</b></button>
                </li>
                <li class="carousel-slide">
                    <img srcset="./images/image14.jpg 1x, ./images/image14@2x.jpg 2x" src="./images/image14.jpg" alt="chocolate8"/>
                    <p class="container__title">CLASSIC</p>
                    <p class="container__subtitle">White chocolate</p>
                    <button type="button" class="button"><b>45UAH</b></button>
                </li>
            </ul>
        </div>
    </div>
</section>
